# Add environment variables here
MONGODB_URI=
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_SHEET_ID=
BINANCE_API_KEY=
BINANCE_SECRET=
COINDCX_API_KEY=
COINDCX_SECRET=
COINSWITCH_API_KEY=
COINSWITCH_SECRET=
